.adm-workarea .gt-iblock-form-table { border-collapse: collapse; }
.adm-workarea .gt-iblock-form-table th { padding: 5px; background-color: #e1edf8; color: #333f48; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.adm-workarea .gt-iblock-form-table input[type="text"] { margin: 3px 4px; }
.adm-workarea .gt-iblock-form-table input[type="checkbox"] { margin: 3px 4px; }
.adm-workarea .gt-iblock-form-table select { min-width: 190px; }
.adm-workarea .gt-iblock-form-button { margin-top: 10px; }